.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.menu nav a {
  text-decoration: none;
  padding: 0 10px;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu nav a:hover {
  color: orange;
}
