.card-list {
  text-align: left;
}

.card-list ul li {
  list-style: none;
  line-height: 30px;
}

.card-list ul li i {
  margin-right: 10px;
}
.details-btn {
  padding: 5px 120px;
  margin-bottom: 0;
  color: aliceblue;
  font-size: 15px;
  background-color: #7e6648;
}

.details-btn:hover {
  color: aliceblue;
  background-color: #7e5c48;
}

.room-price {
  padding-left: 33px;
}

@media screen and (max-width: 992px) {
  .details-btn {
    padding: 25px 145px;
  }
}
