.create-account-text a {
  color: #a0723a;
  text-decoration: underline;
}

.create-account-text a:hover {
  color: #9aa2a8;
}

.login-btn {
  background-color: #a0723a;
  color: aliceblue;
  border: none;
  padding: 8px 30px;
}

.login-btn:hover {
  background-color: #7e6648;
}
